@import "~@creativebulma/bulma-divider";

.main {
  width:100%; 
  height: 100%;
}



#body-content {
    height:90%
  }

body > #root > div {
    height: 100vh;
    min-height: -webkit-fill-available;
}

.App,.children  {
  background-color: #202028 !important;
  text-align: center;
  height:100%
}

.footer {
  background-color: #0d0d15 !important;
  color:white;

}


#col-1 {
  width: 50%;
  float: left;
 height: 100%;
  background-color: #4e4e4e;
  overflow-y: scroll;
  color:white;
  overflow-x: hide;
  min-height: 0;
}

#col-2 {
  width: 50%;
  float: left;
  height: 100%;
  background-color: #4a4a4a;
  overflow-y: scroll;
  overflow-x: hide;
  color:white;
  min-height: 0;
}

