.main {
  width:100%; 
  height: 100%;
}

#head{
  height:20%
}

#body-content {
    height:80%
  }

body > #root > div {
    height: 100vh;
    min-height: -webkit-fill-available;
}

.App,.children  {
  background-color: #202028 !important;
  text-align: center;
  height:100%
}

.footer {
  background-color: #0d0d15 !important;
  color:white;
  height:20%

}


#col-1 {
  width: 50%;
  float: left;
 height: 100%;
  background-color: #4e4e4e;
  overflow-y: scroll;
  color:white;
  /*overflow-x: scroll;*/
  /* for Firefox */
  min-height: 0;
}

#col-2 {
  width: 50%;
  float: left;
  height: 100%;
  background-color: #4a4a4a;
  overflow-y: scroll;
  color:white;
  /* for Firefox */
  min-height: 0;
}


/* styling search bar */ 
.search input{ 
  width:300px; 
  height:25px; 
  border-radius:20px; 
  float:left;
  background-color: darkgrey;
} 

.search button{ 
  background-color: #27c499; 
  color: white; 
  height:30px;
  float: right; 
  margin-right: 16px; 
  cursor: pointer; 
}  

